<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Singing Lion</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	{% load staticfiles %}
	<link rel= "stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
	<div id="container">
		<nav class="navbar navbar-dark bg-dark">
			<a class="navbar-brand" href="">
				SINGING LION
			</a>
		</nav> <!-- 부트스트랩 상단바 -->
	</div>
	<div id ="boot">
		<div class="shadow-none p-3 mb-5 bg-light rounded mx-auto text-center" style="width: 30%; margin-top: 5rem;">
		<h2>SIGN UP</h2>
		</div>

	<div class="shadow p-3 mb-5 bg-white rounded mx-auto" style="width: 30%; margin-top: 0rem;" >
        <form action="{% url 'signup' %}" method = "POST">
        {% csrf_token %}
			<label for="user_name"> ID : </label><input class="form-control" type="text" name="username"></p>
			<label for="password"> PW : </label><input class="form-control" type="password" name="password1"></p>
			<label for="confirm_password"> CONFIRM PW : </label><input class="form-control" type="password" name="password2"></p>
			<div class="text-right">
				<input class="btn btn-secondary" type="submit" value="회원가입">
			</div>
        </form>
	</div>
</div>
</body>
</html>